html {
  scroll-behavior: smooth;
}

body {
  background: rgb(255, 255, 255);
}

.tick {
  font-size: 1rem;
  white-space: nowrap;
  font-family: arial, sans-serif;
  animation: countdown 1.5s ease forwards;
}

.tick-flip-panel {
  background-color: #914555 !important;
}

@keyframes countdown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
